/xbot/build/
/xbot/devel/
/xbot/devel_isolated/
/xbot/el/
/xbot/el_isolated/
/xbot/.*
/robot2077/build/
/robot2077/devel/
/robot2077/devel_isolated/
/robot2077/el/
/robot2077/el_isolated/
/robot2077/.*
