<launch>
    <!-- add by xq -->

    <!-- RVIZ显示 -->
	    <arg name="scan_topic"  default="/robot2077/slam/scan" />
	    <arg name="base_frame"  default="base_footprint"/>
	    <arg name="odom_frame"  default="odom"/>

    <!-- SLAM建图 -->
	    
	    <!--启动gmapping算法-->
	    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" required="true">
	      <param name="base_frame" value="$(arg base_frame)"/>   <!--底盘坐标系-->
	      <param name="odom_frame" value="$(arg odom_frame)"/>   <!--里程计坐标系-->
	      <remap from="scan" to="$(arg scan_topic)"/>   <!--雷达获得的原始数据先发送到/scan中，过滤之后到/robot2077/slam/scan中-->
	    </node>

	    <!-- Run lidar filter 启动雷达结果的过滤模块-->
	    <node pkg="robot2077_slam" type="robot2077_lidar_filter" name="robot2077_lidar_filter">
	      <param name="pub_topic" value="$(arg scan_topic)"/>
	    </node>


</launch>
