<launch>
    <!--下面两个include控制是否开启自动避障-->
    <include file="$(find robot2077_listen)/launch/user_listen.launch"/>
    <!--include file="$(find robot2077_listen)/launch/user_listen_with_avoidance.launch"-->
    <!--开启键盘监听-->
    <node pkg="robot2077_listen" name="keyboard" type="keyboard_listen.py"/>
</launch>