<launch>
    <!--下面两个include控制是否开启自动避障-->
    <!--include file="$(find xbot_listen)/launch/include/user_listen.launch.xml"-->
    <include file="$(find xbot_listen)/launch/include/user_listen_with_avoidance.launch.xml"/>
    <!--开启键盘监听-->
    <node pkg="xbot_listen" name="keyboard" type="keyboard_listen.py"/>
</launch>