<launch>

  <arg name="robot" default="xbot-u"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>

  <!--加载世界-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--arg name="world_name" value="$(find xbot_sim)/worlds/ROS-Academy.world"/-->
    <arg name="world_name" value="$(find xbot_sim)/worlds/playground.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!--将机器人加载到gazebo中去-->
  <include file="$(find xbot_sim)/launch/include/$(arg robot).launch.xml" />
  <!--启动rviz可视化工具-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find xbot_slam)/rviz/slam.rviz"/>
  
</launch>
